@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto Mono", sans-serif;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 background-color: #0A0A0A;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Accessibility */
/* *:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
} */

/* Ensure sufficient color contrast */
/* body {
  color: #fff;
} */

/* Skip links for keyboard navigation  */
.skip-link {
  position: absolute;
  top: -40px;
  left: 6px;
  background: #000;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  z-index: 100;
}

.skip-link:focus {
  top: 6px;
}
